.header {
  width: 100%;
  height: 84px;
  background-color: $light-grey;
  overflow: hidden;
  padding: 15px 0;
}

.header__wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1178px;
  min-width: 1024px;
  margin: auto;
  padding: 0 5px;
}

.header__logo {
  width: 134px;
  max-height: 100%;
  margin-right: auto;
  overflow: hidden;
}

.header__nav {
  max-height: 100%;
}
